.op-container {
    -fx-font-family: "Montserrat";
    -fx-max-width: 470px;
    -fx-max-height: 150px;
    -fx-padding: 10px 10px 14px 10px;
    -fx-spacing: 15px;
    -fx-background-color: #222622;
    -fx-background-radius: 10px;
    -fx-alignment: center;
}

.inputs {
    -fx-font-size: 14px;
    -fx-alignment: center-left;
}

.value {
    -fx-max-width: 150px;
    -fx-pref-height: 40px;
}

.field-label {
    -fx-spacing: 5px;
}

.label-date {
    -fx-font-size: 16px;
    -fx-fill: white;
    -fx-alignment: center-right;
}

.label-value {
    -fx-font-size: 16px;
    -fx-fill: white;
    -fx-translate-x: -50px;
}

.date-field {
    -fx-max-width: 150px;
    -fx-show-week-numbers: false;
}

.value-date {
    -fx-spacing: 30px;
    -fx-min-width: 330px;
    -fx-alignment: center;
}

.text-exit-button {
    -fx-alignment: center;
    -fx-spacing: 40px;
}

.title {
    -fx-fill: white;
    -fx-font-size: 35px;
    -fx-alignment: center-left;
}

.exit-button {
    -fx-cursor: hand;
    -fx-background-color: #222622;
}

.confirm-button {
    -fx-font-size: 16px;
    -fx-background-color: #49AD5A;
    -fx-padding: 10px 30px 10px 30px;
    -fx-cursor: hand;
}

.label-wrong {
    -fx-fill: #EF5350;
}

.label-hide {
    -fx-fill: transparent;
}

.left-date-container {
    -fx-padding: 40px 50px 0px 40px;
    -fx-max-width: 250px;
    -fx-show-week-numbers: false;
}

.right-date-container {
    -fx-padding: 40px 0px 0px 0px;
    -fx-max-width: 163px;
    -fx-show-week-numbers: false;
}