.smart-analysis {
    -fx-background-color: #222622;

}

.main-container {
    -fx-background-color: #222622;
    -fx-alignment: top-center;

}

.container {
    -fx-background-color: #222622;
    -fx-padding: 0px 50px 0px 50px;
}

.top-container {
    -fx-background-color: #222622;
    -fx-alignment: top-center;
    -fx-padding: 10px 0px 0px 0px;
}

.smart-analysis-title{
    -fx-font-size: 30px;
    -fx-padding: 20px 0px 20px 0px;
    -fx-font-weight: bold;
    -fx-fill: #ffffff;
    -fx-alignment: center;
    -fx-font-family: "Montserrat";
}

.analysis-container {
    -fx-padding: 0px 0px 20px 0px;
    -fx-background-color: #121512;   
}
.text-output{
    -fx-fill: #ffffff;
    -fx-alignment: center;
    -fx-padding: 50px;
    -fx-font-family: "Montserrat";
}

.text-entry{
    -fx-fill: #ffffff;
    -fx-alignment: center;
    -fx-padding: 50px;
    -fx-font-family: "Montserrat";
}

.output-percentage {
    -fx-background-color: #121512;
    -fx-min-width: 600px;
    -fx-padding: 10px 20px 10px 20px;

}

.entry-percentage {
    -fx-border-width: 0px 0px 0px 4px;
    -fx-min-width: 600px;
    -fx-border-color: #49AD5A;
    -fx-padding: 10px 20px 10px 20px;
    -fx-background-color: #121512;


}
.entry-output-container{
    -fx-background-color: #121512;
    -fx-padding: 20px 0px 20px 0px;
    -fx-min-width: 1240px;
}

.analysis-text{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #ffffff;
    -fx-font-family: "Montserrat";
}

.higher-output-text{
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-fill: #C54646;
    -fx-alignment: top;
    -fx-font-family: "Montserrat";
}

.higher-entry-text{
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-fill: #49AD5A;
    -fx-alignment: top;
    -fx-font-family: "Montserrat";
}
.analysis-text-vbox{
    -fx-alignment: top-center;
    -fx-padding: 0px 0px 40px 0px;

}

.hold-higher{
    -fx-padding: 0px 0px 30px 0px;

}

.hint{
    -fx-border-width: 2px 0px 0px 0px;
    -fx-border-color: #3D3D3D;
    -fx-padding: 20px;
}

.hint-text{
    -fx-fill: #ffffff;
    -fx-alignment: top;
    -fx-font-family: "Montserrat";
}

.hint-title{
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-fill: #49AD5A;
    -fx-alignment: top;
    -fx-font-family: "Montserrat";
}

.chart-entry-vbox{
    -fx-alignment: center;
}

.chart-output-vbox{
    -fx-alignment: center;
}

.chart-entry{
    -fx-background-color: #121512;
}

.chart-hbox{
    -fx-background-radius: 5px;
    -fx-alignment: center;
    -fx-padding: 50px 0px 50px 0px;
    -fx-background-color: #121512;
}

.entry-chart{
    -fx-fill: #49AD5A;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-family: "Montserrat";
}

.output-chart{
    -fx-fill: #C54646;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-family: "Montserrat";
}

.chart-title{
    -fx-font-size: 20px;
    -fx-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-family: "Montserrat";
}

.charts-container{
    -fx-alignment: center;
    -fx-background-color: #121512;
    -fx-padding: 30px;

}

.bot-container{
    -fx-alignment: center;
    -fx-padding: 30px 0px 30px 0px;
}

.analysis-hbox{
    -fx-alignment: center;
}