.container {
    -fx-background-color: #222622;
    -fx-alignment: center;
    -fx-spacing: 80px;
}

.login-container {
    -fx-max-width: 300px;
    -fx-spacing: 20px;
    -fx-alignment: center;
}

.input {
    -fx-min-height: 40px;
    -fx-stroke: #49AD5A;
    -fx-stroke-width: 5px;
}

.button-vbox {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.label-wrong {
    -fx-fill: #EF5350;
}

.label-hide {
    -fx-fill: transparent;
}

.login-button {
    -fx-background-color: #49AD5A;
    -fx-padding: 10px 30px 10px 30px;
    -fx-cursor: hand;
    -fx-min-width: 300px;
}

.signup-button {
    -fx-text-fill: #49AD5A;
    -fx-translate-y: 20px;
}