.op-container {
    -fx-font-family: "Montserrat";
    -fx-max-width: 360px;
    -fx-max-height: 540px;
    -fx-padding: 15px 10px 30px 10px;
    -fx-spacing: 35px;
    -fx-background-color: #222622;
    -fx-background-radius: 10px;
    -fx-alignment: center;
}

.label {
    -fx-translate-x: -37px;
    -fx-font-size: 16px;
    -fx-fill: white;
}

.inputs {
    -fx-font-size: 14px;
    -fx-alignment: center-left;
}

.input-field {
    -fx-max-width: 240px;
    -fx-pref-height: 40px;
}

.field-label {
    -fx-alignment: center;
    -fx-spacing: 5px;
}

.text-exit-button {
    -fx-alignment: center;
    -fx-spacing: 40px;
}

.title {
    -fx-fill: white;
    -fx-font-size: 27px;
    -fx-alignment: center-left;
}

.exit-button {
    -fx-cursor: hand;
    -fx-background-color: #222622;
}

.confirm-button {
    -fx-font-size: 16px;
    -fx-background-color: #49AD5A;
    -fx-padding: 10px 30px 10px 30px;
    -fx-cursor: hand;
}

.label-wrong {
    -fx-fill: #EF5350;
}

.label-hide {
    -fx-fill: transparent;
}