.container {
    -fx-padding: 20px 450px;
    -fx-background-color: #222622;
    -fx-font-family: "Montserrat";
}

.container * {
    -fx-fill: #ffffff;
}

.extract-title {
    -fx-font-size: 23px;
    -fx-font-weight: bold;
    -fx-fill: #ffffff;
    -fx-alignment: center;
}

.extract-information {
    -fx-padding: 35px 20px 40px 20px;
    -fx-spacing: 50px;
    -fx-alignment: center;
    -fx-background-color: #121512;
}

.extract-transaction-container {
    -fx-padding: 10px 0 0 0;
}

.extract-transaction {
    -fx-padding: 12px 20px;
    -fx-spacing: 50px;
    -fx-background-color: #121512;
    -fx-effect: dropshadow(gaussian, #0000003F, 4, 0, 0, 4);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.extract-left {
    
}

.extract-right {
    -fx-alignment: center-right;
}

.extract-transaction-date {
    -fx-fill: #ffffffa6;
}

.extract-value-red {
    -fx-fill: #EF5350;
}

.extract-value-green {
    -fx-fill: #49AD5A;
}
