.extract {
    -fx-background-color: #2B2E2B;
}


.filterButton_container {
    -fx-alignment: center-right;
    -fx-spacing: 10px;
}

.filter_Document_container {
    -fx-padding: 0px 0px 0px 18px;
    -fx-spacing: 10px;
}

.container {
    -fx-padding: 40px 200px;
    -fx-spacing: 40px;
    -fx-background-color: #2B2E2B;
    -fx-font-family: "Montserrat";
}

/* Title setup*/
.extract-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-fill: #ffffff;
    -fx-alignment: center;
    -fx-font-family: "Montserrat";
}

.extract-information {
    -fx-spacing: 50px;
    -fx-alignment: center;
    -fx-background-color: #121512;
}

/* Extract container(icon-date-value) setup */
.extract-transaction-container {
    -fx-padding: 25px 0 0 0; /*DownS right UpS Left*/
}

.extract-transaction {
    -fx-padding: 12px 20px;
    -fx-spacing: 15px;
    -fx-background-color: #121512;
    -fx-effect: dropshadow(gaussian, #0000003F, 4, 0, 0, 4);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.extract-right {
    -fx-alignment: center-right;
}

.extract-transaction-title{
    -fx-fill: #ffffff;
}

.extract-transaction-date {
    -fx-fill: #ffffff;
}

.extract-value-red {
    -fx-fill: #EF5350;
}

.extract-value-green {
    -fx-fill: #49AD5A;
}
.confirmation-box{
    -fx-alignment: top-right;
}

.confirmation-card {
    -fx-font-family: "Montserrat";
    -fx-alignment: top-center;
    -fx-max-width: 400px;
    -fx-max-height: 150px;
    -fx-spacing: 20px;
    -fx-background-color: #2B2F2B;
}

.confirmation-text {
    -fx-fill: #ffffff;
    -fx-font-size: 16px;
}

.confirmation-button {
    -fx-cursor: hand;
    -fx-background-color: #C54646;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

.close-popup{
    -fx-font-family: "Montserrat";
    -fx-cursor: hand;
    -fx-border-radius: 10px;
    -fx-background-color: transparent;
    -fx-text-fill: #C54646;
    -fx-font-size: 18px;
}

.close-popup-error {
    -fx-font-family: "Montserrat";
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-border-radius: 10px;
    -fx-background-color: transparent;
    -fx-text-fill: #C54646;
}

.text-box {
    -fx-alignment: center;
    -fx-padding: 45px 0 0 0;
}

.alert-box{
    -fx-background-color: #C54646;
    -fx-background-radius: 5px;
    -fx-spacing: 350px;
}

.remove-card {
    -fx-max-width: 400px;
    -fx-max-height: 150px;
    -fx-background-color: #2B2F2B;
    -fx-alignment: top-right;
}

.text-documento-pop {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-fill: #ffffff;
    -fx-alignment: center;
    -fx-font-family: "Montserrat";
}

.close-popup-documentConfirmation {

    -fx-font-family: "Montserrat";
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-border-radius: 10px;
    -fx-background-color: green;
    -fx-text-fill: white;

}

.document-card {
    -fx-max-width: 550px;
    -fx-max-height: 150px;
    -fx-background-color: #2B2F2B;
    -fx-spacing: 35px;
    -fx-alignment: top-right;
}