.courses, .courses-main-container, .courses-page-content {
    -fx-background-color: #222622;
}

.courses-page-content {
    -fx-padding: 20px 200px;
    -fx-spacing: 25px;
    -fx-font-family: "Montserrat";
}

.courses-card-content {
    -fx-background-color: #121512;
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-padding: 10px 200px;
}

.courses-title {
    -fx-fill: white;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.courses-course-card {
    -fx-background-color: #202320;
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-padding: 20px;
}

.courses-card-text {
    -fx-fill: white;
}

.courses-card-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-fill: white;
}

.courses-card-description {
    -fx-fill: white;
    -fx-text-alignment: center;
}

.courses-show-course {
    -fx-background-color: #49AD5A;
    -fx-border-radius: 15px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.card{
    -fx-font-family: "Montserrat";
    -fx-alignment: top-center;
    -fx-max-width: 400px;
    -fx-max-height: 150px;
    -fx-spacing: 20px;
    -fx-background-color: #2B2F2B;
}

.popup-title{
    -fx-font-family: "Montserrat";
    -fx-font-size: 16px;
}

.lessons-vbox{
    -fx-background-color: transparent;
}