.navigation-bar{
    -fx-padding: 10px 40px;
    -fx-alignment: center;
    -fx-font-family: "Montserrat";
    -fx-font-color: white;
    -fx-background-color: #65A644;
}

.titles-box{
    -fx-spacing: 30px;
    -fx-alignment: center;
}

.title{
    -fx-fill: white;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.settings{
    -fx-alignment: center;
    -fx-cursor: hand;
}